<div id="agora_local"></div>
<div class="remote-containers container">
  <div class=""
    class="remote_calls"
    *ngFor="let remote of remoteCalls"
    [id]="remote"
  ></div>
</div>
<button (click)="startCall()">Start Call</button>
