#agora_local {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.remote-containers div {
  margin: 40px 10px;
  height: 250px;
  width: 250px;
}
.container{
  display: flex;
  /* margin: 0px 10px; */
}